.floating-button {
    position: fixed;
    bottom: 100px;
    left: 20px; /* Butonu sağ alt köşeye yerleştirir */
    background-color: #FB923C; /* Buton rengi */
    color: white;
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000; /* Butonun üstte kalmasını sağlar */
    transition: none; /* Başlangıçta geçişi devre dışı bırak */
  }

  .floating-button.transition-enabled {
    transition: transform 1s ease, background-color 0.7s ease; /* Geçiş animasyonları için */
  }

  .floating-button:hover {
    background-color: #FFB74D; /* Hover rengi */
    transform: scale(1.1); /* Butonu %20 büyütür */
  }
